.name-section {
  text-align: center;
  padding: 30px 20px 10px;
}

.name {
  color: #5bef0b;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  color: #3904d7;
  margin-top: 6px;
  font-size: 1rem;
}
